.years {
    font-family: helvetica, arial;
    position: absolute;
    top: 0;
    z-index: -1;
}

.yearsRx {
    font-size: 40pt;
    color: #222222;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

#yearSlider {
    z-index: 10;
}

#yearRange {
    z-index: 9;
}
  

#sliderTimeline {
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
    display: flex;
    margin-left: 110px;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 5;
}

.sliderTimelineB {
    display: flex;
    width: 100px;
    justify-content: space-between;
}
#sliderTimeline .row {
    margin-left: 0px;
    margin-right: 0px;
}

#slideSpeed {
    width: 52px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sbutton {
    display: block;
    margin-top: 9px;
    height: 14px;
    border-radius: 80%;
}
.sbutton:hover {
    background: #13d7ae;
}

.sb_active {
    background: #1374c4;
}

.sbutton__1 {
    width: 12px;
}
.sbutton__2 {
    width: 10px;
}
.sbutton__3 {
    width: 8px;
}
.sbutton__4 {
    width: 6px;
}
.sbutton__5 {
    width: 5px;
}


.slideButton {
    position: relative;
    top: 0px;
    width: 20px;
    height: 36px;
    padding: 0;
    font-size: 1.5em;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.slideButton-L {
    margin-left: 6px;
}
.slideButton-R {
    margin-right: 6px;
}
.slideButton-2 {
    margin-top: 4px;
}
.slideButton-lg {
    position: relative;
    top: 0px;
    width: 40px;
    margin-left: 4px;
    margin-right: 4px;
    height: 36px;
    padding: 0;
    font-size: 1.5em;
}
.slideButton-sm {
    position: relative;
    top: 0px;
    width: 20px;
    height: 24px;
    padding: 0;
    font-size: 1em;
    font-weight: 900;
}

.slideButton-sm:hover,
.slideButton-lg:hover,
.slideButton:hover {
    background-color: #13d7ae;
}
