#tooltip {
    position: absolute;
    display: block;
    font-size: 11pt;
    visibility: hidden;
    border-radius: 0.1rem;
    background-color: rgba(90, 90, 90, 0.95);
    color: white;
    padding: 0.4em 0.4em;
    white-space: pre-line; /* enable line breaks and wrapping */
    max-width: 400px;
    z-index: 101;
}

#tooltipYV {
    position: absolute;
    display: block;
    font-size: 11pt;
    visibility: hidden;
    border-radius: 0.1rem;
    background-color: rgba(90, 90, 90, 0.95);
    color: white;
    padding: 0.4em 0.4em;
    white-space: pre-line; /* enable line breaks and wrapping */
    max-width: 100px;
    z-index: 100;
}

/* ######################### Overlays ######################### */

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 92;
}

#overlaybg {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}

.modal {
    position: absolute;
    width: auto;
    height: auto;
    padding: 2em 2em 1em 2em;
    top: 50%;
    left: 50%;
    background-color: rgb(240, 240, 240);
    transform: translate(-50%, -50%);
    box-shadow: 0px 8px 12px 1px rgba(0,0,0, 0.5);
    border-radius: 5px 5px;
    text-align: center;
    z-index: 99;
}

    .modal h1 {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .modal p {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .modal button {
        margin-left: 2rem;
        margin-right: 0.5rem;
        font-size: 1.1rem;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: inset 0 -2px 5px rgba(0,0,0,0.5),
                          1px 1px 1px black;   
    }
    .modal button:hover {
        background: #13d7ae;
        color: white;
    }

    .modal ul {
        display: flex;
        align-content: space-between;
        flex-direction: column;
    }
        .modal ul li {
            border-bottom: 2px solid #5d5d5d;
        }
        .modal ul li:last-child {
            border-bottom: none;
        }

    .modal ol {
        display: flex;
        align-content: space-between;
        flex-direction: column;
        min-width: 400px;
    }
        .modal ol li {
            margin-left: 2rem;
            min-width: 360px;
            border-bottom: none;
        }
        .modal ol li p:hover {
            background: #13d7ae;
            color: white;

            transition-property: all;
            transition-duration: 150ms;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;
        }

.modal-nl {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 90;
}
.modal-nlc {
    margin: 10px auto;
    border: 1px solid #999;
    width: 30%;
    background-color: #eee;
}
form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5xp #f5f5f5;
    background: #eee;
    width: 90%;
}
.form-h {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
}
.form-h h1{
    margin: 3% 6% 1.5em;
    width: 80%;
    font-weight: bold;
    color: rgb(14, 5, 100);
    background-color:rgba(54, 107, 150, 0.5)
}
.form-h h2{
    margin: 3% 10% 2em;
    width: 60%;
    font-weight: bolder;
    color: rgb(14, 5, 100);
    background-color:rgba(73, 140, 196, 0.5)
}

.fh-close:hover {
    color: rgb(240, 4, 4);
}
.fh-ok:hover {
    color: rgba(2, 168, 2, 0.726);
}
.fh-erase:hover {
    color: rgb(211, 5, 142);
}

form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #1c87c9;
    outline: none;
}

form ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
}
    form ul li {
        border-bottom: 2px solid #5d5d5d;
    }
    form ul li:last-child {
        border-bottom: none;
    }

.nlhead {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    text-align: left;
}
.nlheadR {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 90%;
    text-align: left;
}
    .nlheadR > label {
        font-size: 1em;
    }
    .nlheadR > label:hover {
        background: #13d7ae;
        color: white;
    }
input[type=radio]:not(:disabled):hover {
    background: #13d7ae;
    color: white;
}
.nlheadB {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;
    text-align: left;
}
.nlheadB > input[type=button] {
    width: 18px;
}
.nlheadB > input[type=button]:not(:disabled) {
    background-color: #fff;
    font-weight: 600!important;
}

.nlulli {
    display: flex;
    flex-direction: row;
    min-width: 80%;
    text-align: left;
}
    .nlulli p {
        min-width: 90px;
    }
    .nlulli div {
        display: flex;
        justify-content: space-between;
        margin-left: 3%;
        width: 90%;
    }

.ulli {
    display: flex;
    flex-direction: row;
    min-width: 480px;
    text-align: left;
}
    .ulli p {
        min-width: 90px;
    }

.olli {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    min-width: 420px;
    list-style-type: decimal;
}
    .olli p {
        margin-left: 0.5rem;
        width: 320px;
    }

.title > span {
    font-size: 0.6em;
}
    

#modal-file-upload {
    display: none;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 0.75rem;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.0;
    background: none;
    color: gray;
}

    .close:hover {
        color: revert;
    }

.custom-button {
    background-color: #ccc;
    margin-top:6px;
    padding: 7px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

    .custom-button:hover {
        background-color: #4fc46f;
        color: white;

        transition-property: all;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
    }
